div {
  width: 450px;
  margin: 0 auto;
  font-size: large;
  text-align: justify;
  margin-top: 35px;
}
span {
  font-size: 45px;
  margin: 0 auto;
  width: 450px;
  color: rgb(0, 0, 255);
  margin-left: 45%;
  margin-bottom: 35px;
  margin-top: 35px;
}