body{
    font-family:'column';
}
h1{
  text-align: center;
  font-size : 24px;
}
.three-column {
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
    border-style: solid;
  }