body{
    font-family:'column';
}
h1{
    text-align: center;
    font-size: 24px;
}
.container {
    display: -webkit-flex;
    display: flex;
    border-style: solid;
  }
  nav {
    width: 200px;
    border-style: solid;
  }
  .flex-column {
    -webkit-flex: 1;
            flex: 1;
    border-style: solid;
  }

.container1 {
    display: -webkit-flex;
    display: flex;
    border: #131c3d;
    border-style: solid;
  }
  .initial {
    -webkit-flex: initial;
            flex: initial;
    width: 200px;
    min-width: 100px;
    border: #000000;
    border-style: solid;
  }
  .none {
    -webkit-flex: none;
            flex: none;
    width: 200px;
    border: #000000;
    border-style: solid;
  }
  .flex1 {
    -webkit-flex: 1;
            flex: 1;
    border: #000000;
    border-style: solid;
  }
  .flex2 {
    -webkit-flex: 2;
            flex: 2;
    border: #000000;
    border-style: solid;
  }

.vertical-container {
    height: 300px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    border: #131c3d;
    border-style: solid;
  }

.awol{
    border: #000000;
    border-style: solid;
}