.simple {
  width: 500px;
  margin: 20px auto;
}

.fancy {
  width: 500px;
  margin: 30px auto;
  padding: 50px;
  border-width: 10px;
}

.judul {
  font-size: 40px;
  color: rgb(250, 233, 0);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border: solid rgb(51, 255, 0);
}